mcm-backend/mcm-core/src/main/resources/dsl/relative_position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:complexType name="RelativePosition">
        <xs:sequence>
            <xs:element name="abs_x" type="xs:int"/>
            <xs:element name="abs_y" type="xs:int"/>
            <xs:element name="offset_x" type="xs:int"/>
            <xs:element name="offset_y" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
